{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}PokeBattle &middot; {{ battle.creator.get_short_name }} vs. {{ battle.opponent.get_short_name }}{% endblock %}

{% block body %}
    <div class="pokebattle-container battle">
        {% if not opponent_chosen_pokemons %}
            <div class="status waiting">
                {% if user_is_opponent %}
                    Waiting for you to choose
                {% else %}
                    Waiting for opponent
                {% endif %}
            </div>
        {% endif %}
        <h2>{{ battle.creator.get_short_name }} vs. {{ battle.opponent.get_short_name }}</h2>
        {% comment %}    
        <div class="battle-result-label">
            <strong>amanda</strong> won!
        </div>
        {% endcomment %}
            <section class="battle-pokemons">
                <div class="pokemon-creator">
                    {% if not user_is_opponent %}
                        {% if creator_chosen_pokemons %}
                            {% for pokemon in creator_chosen_pokemons %}
                                {% include 'battles/includes/pokemon_card.html' with chosen_pokemon=pokemon %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if not opponent_chosen_pokemons %}
                            <div class="empty-card">
                                Waiting for you to pick your Pokemons!
                            </div>
                        {% else %}
                            {% for pokemon in creator_chosen_pokemons %}
                                {% include 'battles/includes/pokemon_card.html' with chosen_pokemon=pokemon %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="pokemon-trainer">
                    {% if user_is_opponent %}
                        {% if not opponent_chosen_pokemons %}
                            <form method="POST">
                                {% csrf_token %}
                                {% render_field form.first_pokemon placeholder=form.first_pokemon.label %}
                                {% render_field form.second_pokemon placeholder=form.second_pokemon.label %}
                                {% render_field form.third_pokemon placeholder=form.third_pokemon.label %}
                                <input type="submit" value="Battle!">
                            </form>
                        {% else %}
                            {% for pokemon in opponent_chosen_pokemons %}
                                {% include 'battles/includes/pokemon_card.html' with chosen_pokemon=pokemon %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if not opponent_chosen_pokemons %}
                            <div class="empty-card">
                                Waiting for opponent to choose their Pokemons...
                            </div>
                        {% else %}
                            {% for pokemon in opponent_chosen_pokemons %}
                                {% include 'battles/includes/pokemon_card.html' with chosen_pokemon=pokemon %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </section>
        </form>
    </div>
{% endblock %}