{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}PokeBattle &middot; Choose your team{% endblock %}

{% block body %}
    <div class="pokebattle-container battle">
        <a href="{% url 'battles:details' battle.pk %}">&laquo; Back to battle</a>
        <h3>{{ battle }}</h3>
        <h2>Choose your Pokemons!</h2>
        <div class="team-form-instruction">
            Remember to use only their ids
        </div>
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="form-error">{{ form.non_field_errors }}</div>
            {% endfor %}
            {% for error in form.errors %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST" class="battle-creation-form">
            {% csrf_token %}
            {% render_field form.first_pokemon placeholder=form.first_pokemon.label %}
            {% render_field form.second_pokemon placeholder=form.second_pokemon.label %}
            {% render_field form.third_pokemon placeholder=form.third_pokemon.label %}
            
            <div class="inputs-hidden">
                {% render_field form.battle_related %}
                {% render_field form.trainer %}
            </div>
            <input type="submit" value="Pick my team">
        </form>
    </div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}