body {
    background: linear-gradient(to right, #05588f, #1694a6);
    font-family: $default-font-family;
    color: $pg-font-color;
}

input {
    padding: 4px;
    box-sizing: border-box;
}

.inputs-hidden {
    display: none;
}

.form-error {
    color: darken(red, 10%);
}
