// Import Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Colors
$orange: #FF6139;
$royal-blue: #243B55;
$green: #4BCC4B;

$default-color: $royal-blue;
$default-font-color: #333;
$bright-font-color: #fff;

// Padding
$default-hr-padding: 90px;
$default-vt-padding: 20px;
$default-container-padding: 30px;

// Fonts
$default-font-family: 'Open Sans', sans-serif;

// Navbar
$navbar-height: 50px;
$navbar-color: $default-color;

// Responsiveness
$md-screen-size: 768px;

// Minimal stuff
$default-border-radius: 5px;
$default-box-shadow: 0 1px 5px transparentize(#000, .85);
