{% load inlinecss %}
{% inlinecss "css/email-template.css" %}
<div class="pokebattle-email-container" style="background-color: #f2f2f2;">
    <div class="pokebattle-email-column" style="background-color: #fff;">
        <h2 class="email-header">
            PokeBattle
        </h2>
        <p>
            Hello vanessa,
        </p>
        <p>
            Here are the results of your battle against <strong>amanda</strong>.
        </p>
        <div class="email-two-column">
            <div class="creator-team-column team-column">
                <div class="pokemon-card">
                    <div class="pokemon-picture creator-card-pokemon-picture">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png">
                    </div>
                    <div class="pokemon-name creator-card-pokemon-name">
                        Pikachu
                    </div>
                    <div class="pokemon-attributes creator-card-pokemon-attributes">
                        A: 20 | D: 10 | HP: 21
                    </div>
                </div>
            </div>
            <div class="opponent-team-column team-column">
                <div class="pokemon-card">
                    <div class="pokemon-picture opponent-card-pokemon-picture">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png">
                    </div>
                    <div class="pokemon-name opponent-card-pokemon-name">
                        Pikachu
                    </div>
                    <div class="pokemon-attributes opponent-card-pokemon-name">
                        A: 20 | D: 10 | HP: 21
                    </div>
                </div>
            </div>
        </div>
        <p class="battle-winner">
            and the winner is... <span>amanda</span>!
        </p>
    </div>
</div>
{% endinlinecss %}