{% load staticfiles %}
<header>
    <nav class="navbar">
        <div class="header">
            <a href="{% url 'home' %}">PokeBattle</a>
        </div>
        <div class="menu">
            {% if user.is_authenticated %}
                <a href="{% url 'battles:list' %}">
                    My battles
                </a>
                <a href="/battles/create">
                    Battle with someone
                </a>
                <a href="{% url 'invite' %}">
                    Invite a user
                </a>
                <span class="name">
                    Hello, <strong>{{ user.get_short_name }}</strong>!
                </span>
                <a href="{% url 'auth:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'auth:login' %}">Login/Signup</a>
            {% endif %}
        </div>
    </nav>
</header>
