{% load staticfiles %}
<header>
    <nav class="navbar">
        <div class="header">
            <a href="{% url 'home' %}">PokeBattle</a>
        </div>
        <div class="menu">
            {% if user.is_authenticated %}
                <span class="name">
                    Hello, <strong>{{ user.get_short_name }}</strong>!
                </span>
                <a href="#">Logout</a>
            {% else %}
                <a href="#">Login</a>
            {% endif %}
        </div>
    </nav>
</header>