{% if not user_has_chosen_a_team %}
    <div class="pokemon-card inactive">
        <div class="pokemon-pic placeholder-comp"></div>
        <i class="pokemon-name placeholder-comp"></i>
        <div class="attributes">
            <span class="placeholder-comp"></span>
            <span class="placeholder-comp"></span>
            <span class="placeholder-comp"></span>
        </div>
    </div>
{% else %}
    <div class="pokemon-card" order="{{ order }}">
        <img src="{{ pokemon.sprite }}">
        <i>{{ pokemon.name }}</i>
        <div class="attributes">
            <span>A: {{ pokemon.attack }}</span>
            <span>D: {{ pokemon.defense }}</span>
            <span>HP: {{ pokemon.hp }}</span>
        </div>
    </div>
{% endif %}