.battle-creation-form {
    .select2-container {
        display: block !important;
        width: 100% !important;
        margin: 5px 0 !important;

        /*
            Had to use !important, otherwise
            the styling wouldn't be overrided.
        */
    }

}
.select2-selection--single {
    height: 50px !important;
}

.select2-results__option {
    img {
        width: 48px !important;
    }
}

.select2-selection__rendered {
    line-height: 50px !important;

    > span:not(.select2-selection__placeholder) {
        display: flex;
        align-items: center;
        margin-top: -2px;
        margin-left: -5px;
    }

    img {
        width: 46px;
    }
}

.select2-selection__arrow {
    height: 50px !important;
}

