label {
    display: block;
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 3px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    display: block;
    border: 0;
    border-radius: 3px;
    border: 1px solid lighten($gray, 30%);
}

input[type="submit"] {
    width: 100%;
    background: $default-color;
    color: $white;
    border: 0;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    &:hover {
        background: lighten($default-color, 6%);
    }
}

.errorlist {
    color: $red;
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.battle-creation-form {
    .select2-container {
        display: block !important;
        width: 100% !important;
        margin: 5px 0 !important;

        /*
            Had to use !important, otherwise
            the styling wouldn't be overrided.
        */
    }

}
.select2-selection--single {
    height: 50px !important;
}

.select2-results__option {
    img {
        width: 48px !important;
    }
}

.select2-selection__rendered {
    line-height: 50px !important;

    > span:not(.select2-selection__placeholder) {
        display: flex;
        align-items: center;
        margin-top: -2px;
        margin-left: -5px;
    }

    img {
        width: 46px;
    }
}

.select2-selection__arrow {
    height: 50px !important;
}

// Errors

.small-error {
    color: $red;
}

.has-error {
    input[type=text],
    input[type=email] {
        border-color: $red;
    }
}