.message-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.message {
    list-style: none;
    padding: 5px 10px;
    margin: 0 auto 5px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px transparentize($black, .8);
    cursor: pointer;

    &:hover {
        opacity: .9;
    }
}

.message.error {
    color: $white;
    background: $red;
}

.message.info, .info-message {
    background: lightblue;
}

.message.success {
    background: mediumseagreen;
    list-style: none;
    color: $white;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: center;
}

.message.user-invite {
    width: 80%;
}

@media (max-width: $md-screen-size) {
    .message {
        width: 100%;
    }
}