.navbar {
    background: $navbar-background;
    padding: 2px $default-hr-padding 0;
    height: $navbar-height;
    color: $navbar-font-color;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      top: 100%;
      left: 0;
      @include pg-green-gradient;
    }

    .header {
        font-weight: bold;
        color: $navbar-font-color;
        font-size: 1.2em;
    }

    .menu {
        .name {
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    a {
        height: $navbar-height;
        color: $navbar-font-color;
        display: inline-block;
        line-height: $navbar-height;
        padding: 0 15px;

        &:hover {
            text-decoration: none;
            background: transparentize(#fff, .65);
        }

        &.active {
          background: transparentize(#fff, .4);
        }
    }

    .hello-user {
      padding: 0 10px;
      height: $navbar-height;
      line-height: $navbar-height;
    }

    .mini-ash {
      width: 19px;
      height: 19px;
      background-image: url('../../../images/ash.png');
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(4px);
      margin-right: 5px;
    }
}

@media (max-width: $md-screen-size) {
    .navbar {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .7em;
    }
}
