.navbar {
    background: $navbar-color;
    padding: 0 $default-hr-padding;
    height: $navbar-height;
    color: $bright-font-color;

    .header {
        font-weight: bold;
        color: $bright-font-color;
    }

    .menu {
        .name {
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    
    a {
        height: $navbar-height;
        color: $bright-font-color;
        display: inline-block;
        line-height: $navbar-height;
        padding: 0 15px;

        &:hover {
            background: darken($navbar-color, 10%);
            color: $bright-font-color;
            text-decoration: none;
        }
    }
}

@media (max-width: $md-screen-size) {
    .navbar {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .7em;
    }
}