.battle-create-container {
  margin: 0 auto;
  text-align: center;
  padding: 15px;

  > h2 {
    font-weight: bold;
  }

  form {
    max-width: 600px;
    margin: 30px auto;

    .is-invalid {
      .Select-control {
        border: 1px solid darken(red, 10%);
      }
    }

    label {
      margin: 10px 0;
    }

    .form-error {
      margin: 5px 0;
      font-size: .8em;
    }

    .pokemon-selector {
      margin: 15px 0;
    }

    .pokemon-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      &.is-focused {
        background-color: mix(darken($white, 5%), transparentize($blue, .8));
        cursor: pointer;
      }

      .pokemon-name {
        font-weight: bold;
        font-size: 1.1em;
      }

      .pokemon-stats {
        font-size: .9em;
        color: #666;
      }
    }

    input[type="submit"] {
      margin: 15px 0;

      &:disabled {
        opacity: .9;
        cursor: not-allowed;

        &:hover { background: $royal-blue; }
      }
    }
  }
}

.pokemon-chosen-card {
  display: grid;
  grid-template-columns: 100px 1fr 80px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 500px;
  margin: 10px auto;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 3px 8px transparentize($black, .94);
  transition: all .2s ease-in-out;

  img {
    grid-row: 1 / 3;
  }

  .pokemon-name {
    grid-column: 2 / 3;
    font-size: 1.3em;
    font-weight: bold;
    align-self: flex-end;
  }

  .pokemon-stats {
    grid-row: 2;
    font-size: .9em;
    color: #333;
    align-self: flex-start;
  }

  &.is-dragging {
    opacity: .85;
    transform: rotateZ(2deg);
  }
}

.clear-pokemon {
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform ease-in-out .2s;
  grid-row: span 3;
}

.clear-pokemon:hover {
  transform: rotate(90deg);
}

.dragging-zone {
  min-height: 340px;
}
