.battle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $default-vt-padding;

    h2 {
        font-size: 2.3rem;
        font-weight: bold;
        text-align: center;
    }

    .battle-fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        margin-top: 20px;

        @media (max-width: $md-screen-size) {
            grid-template-columns: 1fr;
        }

        .opponent-submit {
            text-align: center;

            em {
                display: block;
                font-weight: bold;
                margin: 15px 0;
                font-style: normal;
            }
        }
    }
    
    input {
        font-size: 1.2rem;
        margin: 5px 0;
        position: relative;
        display: block;
    }

    input[type="submit"] {
        display: block;
        background: $default-color;
        font-size: 1.2rem;
        color: $bright-font-color;
        padding: 4px 12px;
        border: 0;
        border-radius: $default-border-radius;
        margin: 15px auto;
        cursor: pointer;
    }

    .status {
        margin: 10px 0;
        text-align: center;

        &.waiting {
            background: $orange;
            color: #fff;
            font-weight: bold;
            padding: 5px 12px;
            border-radius: 5px;
            animation: opacityPulse ease-in-out infinite 1.5s;
        }
    }
}

.battle-result-label {
    background: $green;
    padding: 2px 10px;
    color: #fff;
    border-radius: $default-border-radius;
    margin-bottom: 10px;
}

.empty-card {
    background: #f0f0f0;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: $default-border-radius;
    text-align: center;
}

.pokemon-card {
    padding-right: 20px;
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    transition: transform .15s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    i {
        font-style: normal;
    }
    
    .attributes {
        font-size: .75rem;
        font-weight: bold;
        text-align: right;
        color: lighten(grayscale($default-color), 30%);

        span {
            display: block;
        }
    }

    &:hover {
        transform: translateY(-2px);
    }
}