.battle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $default-vt-padding;

    h2 {
        font-size: 2.3rem;
        font-weight: bold;
        text-align: center;
    }

    .battle-fields {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        margin-top: 20px;

        @media (max-width: $md-screen-size) {
            grid-template-columns: 1fr;
        }

        .opponent-submit {
            text-align: center;

            em {
                display: block;
                font-weight: bold;
                margin: 15px 0;
                font-style: normal;
            }
        }
    }

    .battle-creation-form {
        width: 50%;

        input, select {
            font-size: 1.2rem;
            margin: 10px auto;
            border: 1px solid #ccc;
            position: relative;
            display: block;
            text-align: center;
        }

        .middle {
            display: block;
            margin: 15px 0 0;
        }
    
        input[type="submit"] {
            display: block;
            background: $default-color;
            font-size: 1.8rem;
            color: $bright-font-color;
            padding: 5px 20px;
            border: 0;
            border-radius: $default-border-radius;
            margin: 30px auto;
            cursor: pointer;

            &:hover {
                background: lighten($default-color, 8%);
            }

            &:active {
                background: $default-color;
            }
        }
    }
    

    .status {
        margin: 10px 0;
        text-align: center;

        &.waiting {
            background: $orange;
            color: #fff;
            font-weight: bold;
            padding: 5px 12px;
            border-radius: 5px;
            @include animation-opacity-pulse;
        }
    }

    .team-form-instruction {
        margin: 10px 0;
        color: #666;
    }
}

.battle-result-label {
    background: $green;
    padding: 2px 10px;
    color: #fff;
    border-radius: $default-border-radius;
    margin-bottom: 10px;
}

.empty-card {
    background: #f0f0f0;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: $default-border-radius;
    text-align: center;
}

.battle-pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .creators-pokemons {
        order: 0;
    }

    .opponents-pokemons {
        order: 1;
    }
}

.pokemon-card {
    padding-right: 20px;
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    transition: transform .15s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    img {
        max-width: 100px;
    }

    i {
        font-style: normal;
    }
    
    .attributes {
        font-size: .75rem;
        font-weight: bold;
        text-align: right;
        color: lighten(grayscale($default-color), 30%);

        span {
            display: block;
        }
    }

    &:hover {
        transform: translateY(-2px);
    }

    // Pokemon card inactive (when the user
    // can't see the opponent's team)
    
    &.inactive {
        grid-gap: 15px; 

        .pokemon-pic {
            width: 80px;
            height: 80px;
            margin: 5px 0 5px 15px;
            border-radius: 50%;
        }

        .pokemon-name {
            display: block;
            width: 90px;
            height: 25px;
        }

        .attributes {
            span {
                display: block;
                width: 100%;
                height: 20px;
                margin: 10px 0;
            }
        }

        .placeholder-comp {
            background: #f0f0f0;
            @include animation-opacity-pulse;
        }

        &:hover {
            transform: translateY(0);
        }
    }
}