.battle-create-container {
  margin: 0 auto;
  text-align: center;
  padding: 15px;

  > h2 {
    font-weight: bold;
  }

  form {
    max-width: 600px;
    margin: 0 auto;

    input[type="submit"] {
      margin: 15px 0;

      &:disabled {
        opacity: .9;
        cursor: not-allowed;

        &:hover { background: $royal-blue; }
      }
    }
  }
}
